//////////////////////////////////////////////////
// Page Header
//////////////////////////////////////////////////

.page-header {
    a {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -$grid-gutter-width / 4;
            bottom: 0;
            left: -$grid-gutter-width / 4;
            border: 2px solid transparent;
        }

        &:focus {
            outline: none;

            &::after {
                border-color: $btn-focus-border;
            }
        }
    }

    @media (min-width: $md) {
        position: fixed;
        top: 0;
        left: 0;
        width: $header-width-md;
        height: 100%;
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
        border-right: 1px solid $body-border;

        .page-brand {
            &::after {
                top: -$grid-gutter-width / 4;
                bottom: -$grid-gutter-width / 4;
            }
        }
    }
}

//////////////////////////////////////////////////
// Page Brand
//////////////////////////////////////////////////

.page-brand {
    display: inline-block;
    position: relative;
    color: inherit;
    line-height: inherit;
    text-decoration: none;

    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $navbar-height;
        margin: 0;
        padding-left: $grid-gutter-width / 2;
        z-index: 1025;
        background-color: rgba($body-bg, 0.95);
        border-bottom: 1px solid $body-border;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: $navbar-height;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    &-logo {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -1px;
        vertical-align: middle;
    }

    &-title,
    &-subtitle {
        display: none;
    }

    &-category {
        position: relative;
        margin-left: $grid-gutter-width / 4;
    }

    &-label {
        vertical-align: middle;
    }
}

@media (min-width: $md) {
    .page-brand {
        display: flex;
        align-items: center;

        &-wrapper {
            position: relative;
            width: auto;
            height: auto;
            margin: $grid-gutter-width 0;
            padding: 0;
            border-bottom: 0;
            font-size: 1.25rem;
            line-height: inherit;
            letter-spacing: 0;
        }

        &-logo {
            flex: 0 0 auto;
            width: $logo-height-md;
            height: $logo-height-md;
            margin: 0;
        }

        &-text {
            display: block;
            padding-left: $grid-gutter-width / 4;
            overflow: hidden;
        }

        &-title,
        &-subtitle {
            visibility: hidden;
            transform: translate(-105%, 0);
            transition: all $transition-duration-base $transition-bezier;
        }

        &-title {
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.05em;
        }

        &-subtitle {
            display: block;
            opacity: 0.75;
            font-size: 0.55em;
            font-weight: 400;
            line-height: 1;
            text-transform: none;
        }

        &-category {
            display: none;
        }

        &:hover,
        &:focus {
            .page-brand-title,
            .page-brand-subtitle {
                visibility: visible;
                transform: translate(0, 0);
            }
        }
    }
}

@media (max-width: $md - 1) {
    .page-brand {
        animation: brand-enter $transition-duration-long $transition-bezier;
    }
}

@keyframes brand-enter {
    from {
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0, 0);
    }
}
