//////////////////////////////////////////////////
// Main font size
//////////////////////////////////////////////////

html {
    font-size: $font-size-base + 1;

    @media (min-width: $xs) {
        font-size: calc(
            #{$font-size-base + 1} + 2 *
                (
                     (100vw - #{$xs}) / #{($md - $xs) / 1px}
                )
        );
    }

    @media (min-width: $md) {
        font-size: calc(
            #{$font-size-base} + 3 * ((100vw - #{$md}) / #{($xl - $md) / 1px})
        );
    }

    @media (min-width: $xl) {
        font-size: $font-size-base + 3;
    }
}

//////////////////////////////////////////////////
// Links in the page content container
// Uses custom text underlining.
//////////////////////////////////////////////////

.page-content {
    a {
        @include link-underline($body-bg, $link-color, $selection-bg);

        &:hover,
        &:focus {
            @include link-underline($body-bg, $link-hover-color, $selection-bg);
        }

        &:focus {
            outline: 2px solid $text-color;
        }
    }
}

//////////////////////////////////////////////////
// Paragraphs
//////////////////////////////////////////////////

p {
    max-width: $p-max-width;
}

//////////////////////////////////////////////////
// Label styles
//////////////////////////////////////////////////

.font-small {
    font-size: 0.85em;
}

.small-label {
    display: block;
    margin-bottom: $grid-gutter-width / 8;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
