@import './variables';

p {
    max-width: 30em;

    a {
        color: $link-color;

        &:hover,
        &:focus {
            color: $link-hover-color;
        }

        &:focus {
            outline: 2px solid $text-color;
        }
    }
}