@import './variables';

p {
    max-width: $p-max-width;

    a {
        @include link-underline($body-bg, $link-color, $selection-bg);

        &:hover,
        &:focus {
            @include link-underline($body-bg, $link-hover-color, $selection-bg);
        }

        &:focus {
            outline: 2px solid $text-color;
        }
    }
}

.font-small {
    font-size: 0.85em;
}

.small-label {
    display: block;
    margin-bottom: $grid-gutter-width / 8;
    font-size: 0.85em;
    font-weight: 700;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
