//////////////////////////////////////////////////
// Colours
//////////////////////////////////////////////////

// Branding

// Scaffolding
$body-bg: #fefffd;
$body-border: #ddd;

// Typography
$text-color: #222;
$text-reduced-color: #888;
$link-color: #e74c3c;
$link-hover-color: darken($link-color, 20%);

// Buttons
$btn-focus-border: $text-color;




//////////////////////////////////////////////////
// Settings
//////////////////////////////////////////////////

// Breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;

// Tyopography
$font-family-base: 'Nunito Sans', Arial, Helvetica, sans-serif;
$font-family-heading: $font-family-base;

// Font Sizes
$font-size-base: 15px;

// Scaffolding
$grid-columns: 12;
$grid-gutter-width: 2.5rem;
$p-max-width: 30em;

// Transitions
$transition-duration-base: 175ms;
$transition-duration-long: 300ms;
$transition-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);

// Header
$navbar-height: 3rem;
$header-width-md: 18rem;