@import './variables';

.artwork-info {
    border: 1px solid $body-border;
    padding: $grid-gutter-width / 2;

    @media screen and (min-width: $md) {
        padding: $grid-gutter-width;
    }

    &-flex {
        > * + * {
            margin-top: $grid-gutter-width / 2;
        }
    }

    &-logo {
        width: 12rem;
    }

    @media screen and (min-width: $sm) and (max-width: $md - 1),
           screen and (min-width: $lg) {
        
        &-flex {
            display: flex;

            > * + * {
                margin-top: 0
            }

            &-logo {
                flex: 0 1 auto;
            }

            &-colors {
                flex: 0 1 auto;
            }
        }
    }

    @media screen and (min-width: $sm) and (max-width: $md - 1) {
        &-flex {
            > * + * {
                margin-left: $grid-gutter-width;
            }
        }
    }
    
    @media screen and (min-width: $lg) {
        &-flex {
            > * + * {
                margin-left: $grid-gutter-width * 2;
            }
        }
    }
}
