@import './mixins';
@import './variables';

.page-title {
    margin: -0.5rem 0 0;
    font-size: 3rem;
    line-height: 1.1;
}

.page-subtitle {
    max-width: 20em;
    margin: ($grid-gutter-width / 3) 0 0;
    font-size: 1.5rem;
    line-height: 1.3;
}

.page-title-label {
    display: block;
    margin-bottom: $grid-gutter-width / 8;
    font-size: 0.85rem;
    text-transform: uppercase;
}
