@import './mixins';
@import './variables';

.preview {
    &-link {
        color: inherit;
        text-decoration: none;
        white-space: normal;

        &:hover,
        &:focus {
            outline: none;

            .preview-image-wrapper::before {
                top: -$grid-gutter-width / 4;
                right: -$grid-gutter-width / 4;
                bottom: -$grid-gutter-width / 4;
                left: -$grid-gutter-width / 4;
                border-color: $text-color;
            }

            .preview-title::after {
                transform: scale(1, 1);
            }
        }
    }

    &-image {
        display: block;
        max-width: 100%;
        margin: auto;

        &-wrapper {
            display: block;
            position: relative;
            padding: $grid-gutter-width / 2;
            border: 1px solid $body-border;
            line-height: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 2px solid transparent;
                transition: all $transition-duration-base $transition-bezier;
            }
        }
    }

    &-info {
        display: inline-block;
        margin-top: $grid-gutter-width / 2;
        vertical-align: top;
        text-align: left;
    }

    &-subtitle {
        display: block;
        position: relative;
        font-size: 0.88888rem;
        line-height: 1.1;
        letter-spacing: 0.075rem;
        text-transform: uppercase;

        @include breakpoint-min(width, $md) {
            font-size: 0.75rem;
        }
    }

    &-title {
        display: inline-flex;
        align-items: flex-end;
        position: relative;
        max-width: 100%;
        padding-bottom: $grid-gutter-width / 8;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25;
        overflow-wrap: break-word;
        hyphens: auto;

        &-label {
            flex: 1 1 auto;
        }

        &-arrow {
            flex: 0 0 auto;
            width: 1.25em;
            height: 1.25em;
            margin-left: $grid-gutter-width / 6;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid;
            transform: scale(0, 1);
            transform-origin: 0 50%;
            transition: transform $transition-duration-base $transition-bezier;
        }
    }
}

@include breakpoint-min(width, $preview-max-width) {
    .preview {
        &-link {
            &:hover,
            &:focus {
                .preview-image-wrapper::before {
                    top: -$grid-gutter-width / 3;
                    right: -$grid-gutter-width / 3;
                    bottom: -$grid-gutter-width / 3;
                    left: -$grid-gutter-width / 3;
                }
            }
        }

        &-image {
            &-wrapper {
                display: inline-block;
                width: percentage(8/12);
                max-width: calc(
                    #{$preview-max-width + 2} + #{$grid-gutter-width}
                );
                height: auto;
            }
        }

        &-info {
            display: inline-block;
            position: relative;
            max-width: calc(#{percentage(4/12)} - #{$grid-gutter-width});
            margin-top: 0;
            margin-left: $grid-gutter-width;
        }

        &-subtitle {
            &::before {
                content: '';
                display: inline-block;
                top: 0.7rem;
                width: $grid-gutter-width;
                margin-top: -1px;
                margin-right: $grid-gutter-width * 0.25;
                margin-left: -$grid-gutter-width * 1.25;
                border-top: 1px solid;
                vertical-align: middle;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .preview {
        &-image {
            &-wrapper {
                max-width: calc(
                    #{$preview-max-width + 2} + #{$grid-gutter-width * 2}
                );
                padding: $grid-gutter-width;
            }
        }
    }
}
