//////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////

$anim-duration: 2s;

//////////////////////////////////////////////////
// Containers
//////////////////////////////////////////////////

.switch {
    position: relative;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;

    img {
        display: block;
    }

    &-console {
        display: block;
        position: relative;
        z-index: 2;
        transform-origin: 0 100%;
    }

    &-joycons {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform-origin: 0 100%;
    }
}

.animate-on {
    transform: translateZ(0);

    .switch-console {
        animation: console $anim-duration ease-in-out infinite;
        animation-delay: 100ms;
    }

    .switch-joycons {
        animation: joycon $anim-duration ease-in-out infinite;
        animation-delay: 100ms;
    }
}

//////////////////////////////////////////////////
// Keyframes
//////////////////////////////////////////////////

@keyframes joycon {
    0%,
    62%,
    100% {
        transform: scale(1, 1) translate(0, 0);
    }
    66% {
        transform: scale(1, 1.01) translate(0, 1%);
    }
    77% {
        transform: scale(1, 1.01) translate(0, -32%);
    }
    80% {
        transform: scale(1, 1) translate(0, -33%);
    }
    83% {
        transform: scale(1, 1) translate(0, -32%);
    }
    94% {
        transform: scale(1, 1.03) translate(0, 3%);
    }
    96% {
        transform: scale(1, 0.95) translate(0, 3%);
    }
}

@keyframes console {
    0%,
    92%,
    100% {
        transform: scale(1, 1) translate(0, 0);
    }
    94% {
        transform: scale(1, 1.02) translate(0, 2%);
    }
    96% {
        transform: scale(1, 0.98) translate(0, 2%);
    }
}
