@import '../../../../scss/variables';
@import 'signupcontrols';

//////////////////////////////////////////////////
// Wrappers
//////////////////////////////////////////////////

.artwork-signupform {
    position: relative;
    overflow: hidden;
    font-size: 0.9em;

    @media (min-width: $sm) {
        display: flex;
        height: auto !important;
    }
}

//////////////////////////////////////////////////
// Containers
//////////////////////////////////////////////////

.form-container {
    position: relative;
    z-index: 1;
    color: #333;
    pointer-events: none;

    &.active {
        z-index: 2;
        pointer-events: auto;
    }

    @media (min-width: $sm) {
        display: flex;
        flex: 0 0 100%;
        flex-direction: row;
        overflow: hidden;

        + .form-container {
            margin-left: -100%;
        }

        &.reverse {
            flex-direction: row-reverse;
        }
    }

    @media (max-width: $sm - 1) {
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 1 !important;

        &.active {
            position: relative;
        }
    }
}

.form-content {
    position: relative;
    padding: ($grid-gutter-width * 1.5) $grid-gutter-width;

    @media (min-width: $sm) {
        flex: 0 0 auto;
        width: 50%;
        padding: $grid-gutter-width * 1.5;
    }

    @media (min-width: $lg) {
        padding: $grid-gutter-width * 2;
    }

    @media (min-width: $xl) {
        padding: $grid-gutter-width * 3;
    }

    @media (max-width: $sm - 1) {
        .form-resting &.form-content-active {
            background-color: #333;
        }
    }
}

//////////////////////////////////////////////////
// Content
//////////////////////////////////////////////////

.form-title {
    width: 75%;
    margin: 0 0 1em;
    line-height: 1;
    text-transform: uppercase;
}

//////////////////////////////////////////////////
// Highlight
//////////////////////////////////////////////////

.form-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: #333;
    transition: background-color $transition-duration-long $transition-bezier;

    &.success {
        width: 110%;
        height: 100%;
        background-color: #16a085;
    }

    @media (min-width: $sm) {
        left: -5%;
        width: 55%;
        height: 100% !important;
    }

    @media (min-width: $sm) {
        &.position-right:not(.success) {
            left: 50%;
        }
    }

    @media (max-width: $sm - 1) {
        left: 0 !important;
        width: 100% !important;

        .form-resting &:not(.success) {
            display: none;
        }
    }
}

.form-message {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &-content {
        color: #fff;
        text-align: center;
    }

    &-circle {
        display: block;
        width: $grid-gutter-width * 4;
        height: $grid-gutter-width * 4;
        margin: 0 auto;
        padding: $grid-gutter-width;
        border: 4px solid;
        border-radius: 50%;
    }

    &-image {
        width: 100%;
        height: auto;
    }
}

.form-content-active {
    color: #fff;

    @media (max-width: $sm - 1) {
        .rest:not(.submitted) {
            background-color: #333;
        }
    }
}
